<div class="container mt-5 position-relative">
    <div class="row" >
        <div class="col-lg-4" *ngFor="let product of productOfCart">
            <div class="card mb-5" style="width: 18rem;">
                <img [src]="product.images[0]" class="card-img-top" [alt]="product.title">
                <div class="card-body">
                  <h5 class="card-title">{{product.title}}</h5>
                  <p><span class="text-success fw-bolder">Price: </span>{{product.price}}$</p>
                </div>
            </div>
        </div>
    </div>
</div>